/* Instrument On Day Component Styles */
.instrumentOnDay {
  width: 100%;
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
  color: #fff;
  border-top: 1px solid #000;
  border-right: 1px solid #000;
  border-left: 1px solid #000;
  align-items: flex-start;
  justify-content: flex-start;
}

.instrumentOnDay p {
  padding: 0;
  margin: 0;
}

.instrumentOnDay .row-one {
  display: flex;
  flex-direction: row;
  flex: auto;
  margin: 0;
  padding: 3px 0 0 0;
  align-items: center;
  justify-content: flex-start;
  line-height: 100%;
}

.instrumentOnDay .column-one {
  font-size: 1.5em;
  flex: 0 0 auto;
  margin: 0;
  padding: 0 3px;
}

.instrumentOnDay .column-two {
  font-size: 1.5em;
  flex: 0 0 auto;
  margin: 0;
  padding-left: 10px;
}

.instrumentOnDay .column-three {
  font-size: 0.7rem;
  flex: auto;
  margin: 0;
  padding-left: 3px;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
}

.instrumentOnDay .currency {
  flex: 1;
  align-items: end;
  margin: 0;
  padding-left: 5px;
  padding-bottom: 0;
  font-size: 0.7rem;
  height: 0.7rem;
}

.instrumentOnDay .row-two {
  flex-grow: 1;
  margin: 3px 0 0 0;
  padding: 3px;
  padding-left: 3px;
  color: #fff;
  font-size: 0.75em;
  line-height: 100%;
  align-items: flex-start;
}