/* Base Styles */
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* Scrollbar Utilities */
.hide-scrollbar::-webkit-scrollbar {
  display: none;
}

.hide-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

/* Base Element Styles */
div {
  padding: 0;
  border-spacing: 0;
  border-collapse: collapse;
  user-select: none;
}

/* Order Book Ladder */
.ilv_container {
  flex: auto;
  overflow: auto;
  height: 300px;
}

.InstrumentLevelView {
  width: 100%;
  height: auto;
  max-width: 98%;
  background-color: #3a3a3a;
  color: #ffffff;
  font-family: Verdana, source-code-pro, Menlo, Monaco, Consolas, monospace;
  font-size: 11px;
  border-spacing: 0;
  border-collapse: collapse;
}

div.LadderRow {
  display: grid;
  grid-template-columns: 0.65fr 0.65fr 1fr 0.65fr 0.65fr;
  padding: 0;
  line-height: 16px;
}

/* My Orders - Bid Side */
div.myBid {
  color: #000;
  background-color: #ccc;
  border-bottom: 1px solid #b0b1b3;
}

div.myBidQty {
  color: #000;
  background-color: #fff;
  text-align: right;
  padding-right: 3px;
  box-shadow: 
    inset -1px -1px 0 #396191,
    inset 1px 1px 0 #396191;
}

/* Market Depth - Bid Side */
div.mdBid {
  color: #000;
  background-color: #8e9aa8;
  border-bottom: 1px solid #b0b1b3;
}

div.mdBidQty {
  color: #fff;
  background-color: #3f5877;
  text-align: right;
  padding-right: 3px;
  box-shadow: 
    inset -1px -1px 0 #000,
    inset 1px 1px 0 #000;
}

/* Price Column */
.priceRow {
  padding: 0;
  border-spacing: 0;
  border-collapse: collapse;
}

.priceRow.Px {
  border-bottom: 1px solid #000;
  color: #000;
  background-color: #a1a1a1;
  border-left: 1px solid #6d6d6d;
  border-right: 1px solid #6d6d6d;
  text-align: center;
  padding: 0 3px;
}

.priceRow.Px.Traded {
  color: #fff;
  background-color: #141414;
}

.priceRow.Px.Last {
  color: #000;
  background-color: #d8d8d8;
  text-align: center;
  padding: 0 3px;
  box-shadow: 
    inset -1px -1px 0 #000,
    inset 1px 1px 0 #000;
}

/* Market Depth - Ask Side */
div.mdAsk {
  color: #000;
  background-color: #af9292;
  border-bottom: 1px solid #b9b8b8;
}

div.mdAskQty {
  color: #fff;
  background-color: #855353;
  text-align: left;
  padding-left: 3px;
  box-shadow: 
    inset -1px -1px 0 #000,
    inset 1px 1px 0 #000;
}

/* My Orders - Ask Side */
div.myAsk {
  color: #000;
  background-color: #ccc;
  border-bottom: 1px solid #b9b8b8;
}

div.myAskQty {
  color: #000;
  background-color: #fff;
  text-align: left;
  padding-left: 3px;
  box-shadow: 
    inset -1px -1px 0 #863636,
    inset 1px 1px 0 #863636;
}

/* Volume Bar */
.priceRow .volume {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  height: 100%;
}

.priceRow .content {
  text-align: center;
}
